/* styles.css */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #333;
    text-align: center;
}

#quizContainer {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    text-align: center;
}

#questionContainer {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

button.option {
    background-color: #f0f0f0;
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    color: #000; /* Texte en noir */
}

button.option:hover {
    background-color: #007bff;
    color: #fff;
}

button.option.selected {
    background-color: #007bff;
    color: #fff;
}

#time {
    font-size: 18px;
    margin-top: 10px;
    color: #ff0000; /* Couleur du texte du compteur en rouge pour être bien visible */
}

#result {
    font-size: 20px;
    color: #333;
}
